
body{
    background-image: url("../img/mesa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.carj1,
.carj2{
    width: 250px;
}

.carj{
    width: 350px;
}

.divcarta1,
.divflecha1,
.divcartajuego,
.divflecha2,
.divcarta2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.divcarta1,
.divcarta2{
    padding: 40;
}

.letra{
    font-size: 20px;
    font-weight: bold;
}

.flecha {
    visibility: hidden;
}

.flechaw{
    width: 100px;
}